APP_ENV=local
LOG_LEVEL=debug

KAFKA_CLIENT_ID=payment-service
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=payment-service
SCHEMA_REGISTRY_URL=http://localhost:8081

PAYMENT_PROVIDER=mock-payment-provider
PAYMENT_FAILURE_THRESHOLD=0.18
