APP_ENV=local
LOG_LEVEL=debug
PORT=3002
HOST=0.0.0.0

KAFKA_CLIENT_ID=risk-service
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=risk-service
SCHEMA_REGISTRY_URL=http://localhost:8081

RISK_SCORE_THRESHOLD=0.72
RISK_SCORE_ITERATIONS=300000
