APP_ENV=local
LOG_LEVEL=debug
PORT=3000
HOST=0.0.0.0
USERS_GRPC_URL=127.0.0.1:50051
ORDER_SERVICE_GRPC_URL=127.0.0.1:50052
OTEL_TRACING_ENABLED=true
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
