APP_ENV=local
LOG_LEVEL=debug

KAFKA_CLIENT_ID=notification-service
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=notification-service
SCHEMA_REGISTRY_URL=http://localhost:8081

NOTIFICATION_DEFAULT_RECIPIENT=ops@example.com
