APP_ENV=local
LOG_LEVEL=debug
METRICS_HOST=0.0.0.0
METRICS_PORT=3006

KAFKA_CLIENT_ID=notification-service
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=notification-service
SCHEMA_REGISTRY_URL=http://localhost:8081

POSTGRES_HOST=localhost
POSTGRES_PORT=55432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=kafka_playground
POSTGRES_SSL=false

OTEL_TRACING_ENABLED=true
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces

NOTIFICATION_DEFAULT_RECIPIENT=ops@example.com
